.mother{
    border: 1px solid red;
    display: flex; /*세로가 가로정렬이 된다*/
    /* justify-content: flex-end; */ /*맨 오른쪽으로*/
    /* justify-content: flex-start; */ /*맨 왼쪽으로*/
    /* justify-content: space-between; 잘 나눠서 셋을 나눔, 스크린 사이즈 줄여도 같음 */
    /* justify-content: space-around; 적당히 애들 가운데에 나눔 */
    /* align-items: flex-end; */ /*space between space around 이런 시리즈는 없음*/
    align-items: center;
    height: 100vh; /*mother 의 권한을 세로로 늘려준거*/
    flex-direction: column; /*상자들을 세로로 놓아준거, 쓰는 순간 가로가 세로고 세로가 가로임, justify가 세로가 되고 align 이 가로가 됨*/
    
}
.children{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}